h1 {
     color:#031f90; 
     border: solid;
     font-size: 5rem;
     font-family: "Open Sans", Helvetica, sans-serif;
      align-content: space-between;

  }
  h2{
   border: solid;
   color: #031f90;
  }


  body{
   background-color: lightgreen;
   color: black;
  }

  

  
  .square-Profile{
   width: 200px;
   border-radius: 15px;
   border: 2px solid black;
  }

  



